<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>m.w. art</title>
</head>
<body>
  <div class="wrapper">
       <!-- NAVBAR
      ===================================== -->
    <nav class="navbar">
      <div class="menu">
        <icon-icon name="ios-menu"></icon-icon>
      </div>
      <div class="lang"> <span class="frame1">[</span>pl<span class="frame2">]</span> </div>
      <div class="search">
        <icon-icon name="ios-search"></icon-icon>
      </div>
    </nav>

      <!-- SOCIAL MEDIA
      ===================================== -->
<div class="media">
  <ul class="socials__list">
    <li class="socilas__list-item"><a href="#" class="socials__list-item-link">facebook</a></li>
    <li class="socilas__list-item"><a href="#" class="socials__list-item-link">instagram</a></li>
    <li class="socilas__list-item"><a href="#" class="socials__list-item-link">twitter</a></li>
  </ul>
</div>

<!-- TEXT
===================================== -->

<div class="text__wrapper">
  <h1 class="title">matylda</h1>
  <h2 class="title">wałęsa</h2>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptatem dignissimos minima cum maiores officiis,
    a voluptate quas exercitationem repellendus velit?
  </p>
</div>

<!-- SPONSOR
===================================== -->
<div class="sponsor">
  <img src="" alt="sponsor">
  <p class="text">official sponsor</p>
</div>


<!-- DISTORTION
===================================== -->
<div class="distortion"></div>


</div>
  
</body>
</html>