<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>m.w. art</title>
</head>
<body>
  <!-- https://www.youtube.com/watch?v=kzVgkrCiDEo&t=160s -->

  <div class="header__wrapper">
       <!-- NAVBAR
      ===================================== -->
    <nav class="navbar">
      <div class="logo">
        <a href="./index.html" rel="noopener noreferrer">
          <img src="../images/design/m.w.logo.png" alt="logo">
        </a>
      </div>
      <div class="lang"> 
        <span class="frame1">[</span>
          <div class="plen">
            pl<br/>
            en
          </div>
        <span class="frame2">]</span>
      </div>
      <div class="menu-btn">
        <div class="menu-btn__burger"> </div>
      </div>
    </nav>

      <!-- SOCIAL MEDIA
      ===================================== -->
<div class="media">
  <ul class="socials__list">
    <li class="socilas__list-item"><a href="#" class="socials__list-item-link">facebook</a></li>
    <li class="socilas__list-item"><a href="#" class="socials__list-item-link">instagram</a></li>
  </ul>
</div>

<!-- TEXT
===================================== -->
<div class="headers">
 <div class="text__wrapper">
  <h1 class="title">matylda</h1>
  <h2 class="title">wałęsa</h2>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptatem dignissimos minima cum maiores officiis,
    a voluptate quas exercitationem repellendus velit?
  </p>
 </div>
</div>

<!-- SPONSOR
===================================== -->
<div class="sponsor">
  <img src="" alt="sponsor">
  <p class="text">official sponsor</p>
</div>


<!-- DISTORTION
===================================== -->
<div class="distortion"></div>


</div>
  

<!-- ========== scripts ============ -->

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script> -->
</body>
</html>