/*
                    VARIABLES
====================================================*/

//================
//  colors:
//================
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$main-c: hsl(0, 0%, 5%);
$hero-c: hsl(332, 100%, 32%);
$link-c: $main-c;
$link-hvr-c: $hero-c;
$menu-btn-border-c: hsl(0, 0%, 93%);

//================
//  backgrounds:
//================
$body-bg-c: hsl(222, 15%, 87%);
$nav-bg-c: transparent;

//===================
//  widths & heights:
//===================

$menu-btn-width: 40px;
$menu-btn-height: 40px;

$burger-width: 30px;
$burger-height: 2px;