/*
                    VARIABLES
====================================================*/

//================
//  colors:
//================
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$main-c: hsl(0, 0%, 5%);
$hero-c: hsl(332, 100%, 32%);
$link-c: $main-c;
$link-hvr-c: $hero-c;

//================
//  backgrounds:
//================
$body-bg-c: hsl(222, 15%, 87%);
$nav-bg-c: transparent;

//===================
//  widths & heights:
//===================
