/*
*              HEADER GRID
=========================================*/

.header__wrapper {
    display: grid;
    grid-template-columns: 0.2fr 1fr 2.1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "aside-left headers pictures sponsors"
      "aside-left headers pictures sponsors";
  }
  
  .navbar { grid-area: navbar; }
  
  .aside-left { grid-area: aside-left;}
  
  .headers { grid-area: headers; }
  
  .pictures { grid-area: pictures; }
  
  .sponsors { grid-area: sponsors; }
  